*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tex.backup
*.bcf
*.run.xml
*.lol
data/raw/
thesis/_minted-thesis/
*.pygtex
*.pygstyle
.DS_Store
*.fdb_latexmk


data/distortionmodel.ai

*.gz(busy)

~$*

wordcount.html
